In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [214]:
pd.options.display.float_format = '{:.2f}'.format 
pd.options.display.max_rows = None

In [216]:
lend_loan_df = pd.read_csv('loan.csv')
print(lend_loan_df.shape)

(39717, 111)

C:\Users\srimo\AppData\Local\Temp\ipykernel_23096\791107728.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  lend_loan_df = pd.read_csv('loan.csv')

In [218]:
null_columns = lend_loan_df.isnull().sum() 
null_columns[null_columns>0]

emp_title                          2459
emp_length                         1075
desc                              12942
title                                11
mths_since_last_delinq            25682
mths_since_last_record            36931
revol_util                           50
last_pymnt_d                         71
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [220]:
drop_maxnull_columns = ['emp_title','desc','mths_since_last_delinq','mths_since_last_record','next_pymnt_d','mths_since_last_major_derog',
                'annual_inc_joint','dti_joint','verification_status_joint','tot_coll_amt','tot_cur_bal','open_acc_6m','open_il_6m',
                'open_il_12m','open_il_24m','mths_since_rcnt_il','total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc',
                'all_util','total_rev_hi_lim','inq_fi','total_cu_tl','inq_last_12m','acc_open_past_24mths','avg_cur_bal','bc_open_to_buy',
                        'bc_util','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc',
                        'mths_since_recent_bc','mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq',
                        'num_accts_ever_120_pd','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl',
                        'num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd',
                        'num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq','percent_bc_gt_75','tot_hi_cred_lim',
                        'total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit']

print(f'max null columns counts {len(drop_maxnull_columns)} for dropping')

lend_loan_df.drop(drop_maxnull_columns, axis=1, inplace=True)

lend_loan_df.info()

max null columns counts 59 for dropping
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_length                  38642 non-null  object
 11  home_ownership              39717 non-null  object
 12  annual_inc                  39717 non-null  float64
 13  verification_status         39717 non-null  object
 14  issue_d                     39717 non-null  object
 15  loan_status                 39717 non-null  object
 16  pymnt_plan                  39717 non-null  object
 17  url                         39717 non-null  object
 18  purpose                     39717 non-null  object
 19  title                       39706 non-null  object
 20  zip_code                    39717 non-null  object
 21  addr_state                  39717 non-null  object
 22  dti                         39717 non-null  float64
 23  delinq_2yrs                 39717 non-null  int64
 24  earliest_cr_line            39717 non-null  object
 25  inq_last_6mths              39717 non-null  int64
 26  open_acc                    39717 non-null  int64
 27  pub_rec                     39717 non-null  int64
 28  revol_bal                   39717 non-null  int64
 29  revol_util                  39667 non-null  object
 30  total_acc                   39717 non-null  int64
 31  initial_list_status         39717 non-null  object
 32  out_prncp                   39717 non-null  float64
 33  out_prncp_inv               39717 non-null  float64
 34  total_pymnt                 39717 non-null  float64
 35  total_pymnt_inv             39717 non-null  float64
 36  total_rec_prncp             39717 non-null  float64
 37  total_rec_int               39717 non-null  float64
 38  total_rec_late_fee          39717 non-null  float64
 39  recoveries                  39717 non-null  float64
 40  collection_recovery_fee     39717 non-null  float64
 41  last_pymnt_d                39646 non-null  object
 42  last_pymnt_amnt             39717 non-null  float64
 43  last_credit_pull_d          39715 non-null  object
 44  collections_12_mths_ex_med  39661 non-null  float64
 45  policy_code                 39717 non-null  int64
 46  application_type            39717 non-null  object
 47  acc_now_delinq              39717 non-null  int64
 48  chargeoff_within_12_mths    39661 non-null  float64
 49  delinq_amnt                 39717 non-null  int64
 50  pub_rec_bankruptcies        39020 non-null  float64
 51  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(21)
memory usage: 15.8+ MB

In [222]:
unwanted_columns = ['url','member_id','zip_code']

print(f'not required info columns counts {len(unwanted_columns)} for dropping')

lend_loan_df.drop(unwanted_columns, axis=1, inplace=True)

lend_loan_df.info()

not required info columns counts 3 for dropping
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   loan_amnt                   39717 non-null  int64
 2   funded_amnt                 39717 non-null  int64
 3   funded_amnt_inv             39717 non-null  float64
 4   term                        39717 non-null  object
 5   int_rate                    39717 non-null  object
 6   installment                 39717 non-null  float64
 7   grade                       39717 non-null  object
 8   sub_grade                   39717 non-null  object
 9   emp_length                  38642 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  pymnt_plan                  39717 non-null  object
 16  purpose                     39717 non-null  object
 17  title                       39706 non-null  object
 18  addr_state                  39717 non-null  object
 19  dti                         39717 non-null  float64
 20  delinq_2yrs                 39717 non-null  int64
 21  earliest_cr_line            39717 non-null  object
 22  inq_last_6mths              39717 non-null  int64
 23  open_acc                    39717 non-null  int64
 24  pub_rec                     39717 non-null  int64
 25  revol_bal                   39717 non-null  int64
 26  revol_util                  39667 non-null  object
 27  total_acc                   39717 non-null  int64
 28  initial_list_status         39717 non-null  object
 29  out_prncp                   39717 non-null  float64
 30  out_prncp_inv               39717 non-null  float64
 31  total_pymnt                 39717 non-null  float64
 32  total_pymnt_inv             39717 non-null  float64
 33  total_rec_prncp             39717 non-null  float64
 34  total_rec_int               39717 non-null  float64
 35  total_rec_late_fee          39717 non-null  float64
 36  recoveries                  39717 non-null  float64
 37  collection_recovery_fee     39717 non-null  float64
 38  last_pymnt_d                39646 non-null  object
 39  last_pymnt_amnt             39717 non-null  float64
 40  last_credit_pull_d          39715 non-null  object
 41  collections_12_mths_ex_med  39661 non-null  float64
 42  policy_code                 39717 non-null  int64
 43  application_type            39717 non-null  object
 44  acc_now_delinq              39717 non-null  int64
 45  chargeoff_within_12_mths    39661 non-null  float64
 46  delinq_amnt                 39717 non-null  int64
 47  pub_rec_bankruptcies        39020 non-null  float64
 48  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(12), object(19)
memory usage: 14.8+ MB

In [224]:
print(lend_loan_df.pymnt_plan.value_counts())
print(lend_loan_df.initial_list_status.value_counts())
print(lend_loan_df.application_type.value_counts())
# look like pymnt_plan not impacting for analyze because all values are n
# look like initial_list_status not impacting for analyze because all values are f
#look like application_type not impacting for analyze because all values are INDIVIDUAL
lend_loan_df.drop(['pymnt_plan','initial_list_status','application_type'],axis=1, inplace=True)
lend_loan_df.info()

pymnt_plan
n    39717
Name: count, dtype: int64
initial_list_status
f    39717
Name: count, dtype: int64
application_type
INDIVIDUAL    39717
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   loan_amnt                   39717 non-null  int64
 2   funded_amnt                 39717 non-null  int64
 3   funded_amnt_inv             39717 non-null  float64
 4   term                        39717 non-null  object
 5   int_rate                    39717 non-null  object
 6   installment                 39717 non-null  float64
 7   grade                       39717 non-null  object
 8   sub_grade                   39717 non-null  object
 9   emp_length                  38642 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  purpose                     39717 non-null  object
 16  title                       39706 non-null  object
 17  addr_state                  39717 non-null  object
 18  dti                         39717 non-null  float64
 19  delinq_2yrs                 39717 non-null  int64
 20  earliest_cr_line            39717 non-null  object
 21  inq_last_6mths              39717 non-null  int64
 22  open_acc                    39717 non-null  int64
 23  pub_rec                     39717 non-null  int64
 24  revol_bal                   39717 non-null  int64
 25  revol_util                  39667 non-null  object
 26  total_acc                   39717 non-null  int64
 27  out_prncp                   39717 non-null  float64
 28  out_prncp_inv               39717 non-null  float64
 29  total_pymnt                 39717 non-null  float64
 30  total_pymnt_inv             39717 non-null  float64
 31  total_rec_prncp             39717 non-null  float64
 32  total_rec_int               39717 non-null  float64
 33  total_rec_late_fee          39717 non-null  float64
 34  recoveries                  39717 non-null  float64
 35  collection_recovery_fee     39717 non-null  float64
 36  last_pymnt_d                39646 non-null  object
 37  last_pymnt_amnt             39717 non-null  float64
 38  last_credit_pull_d          39715 non-null  object
 39  collections_12_mths_ex_med  39661 non-null  float64
 40  policy_code                 39717 non-null  int64
 41  acc_now_delinq              39717 non-null  int64
 42  chargeoff_within_12_mths    39661 non-null  float64
 43  delinq_amnt                 39717 non-null  int64
 44  pub_rec_bankruptcies        39020 non-null  float64
 45  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(12), object(16)
memory usage: 13.9+ MB

In [226]:
# convert term to int by removing ' month'
#convert int_rate to float by removing '%'
#convert revol_util to float by removing '%'

lend_loan_df.term = lend_loan_df.term.apply(lambda x: int(x.replace(' months','')))
lend_loan_df.int_rate = lend_loan_df.int_rate.apply(lambda x: float(x.replace('%','')))

lend_loan_df.revol_util.fillna('0',inplace=True)

lend_loan_df.revol_util = lend_loan_df.revol_util.apply(lambda x: float(x.replace('%','')))
lend_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   loan_amnt                   39717 non-null  int64
 2   funded_amnt                 39717 non-null  int64
 3   funded_amnt_inv             39717 non-null  float64
 4   term                        39717 non-null  int64
 5   int_rate                    39717 non-null  float64
 6   installment                 39717 non-null  float64
 7   grade                       39717 non-null  object
 8   sub_grade                   39717 non-null  object
 9   emp_length                  38642 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  purpose                     39717 non-null  object
 16  title                       39706 non-null  object
 17  addr_state                  39717 non-null  object
 18  dti                         39717 non-null  float64
 19  delinq_2yrs                 39717 non-null  int64
 20  earliest_cr_line            39717 non-null  object
 21  inq_last_6mths              39717 non-null  int64
 22  open_acc                    39717 non-null  int64
 23  pub_rec                     39717 non-null  int64
 24  revol_bal                   39717 non-null  int64
 25  revol_util                  39717 non-null  float64
 26  total_acc                   39717 non-null  int64
 27  out_prncp                   39717 non-null  float64
 28  out_prncp_inv               39717 non-null  float64
 29  total_pymnt                 39717 non-null  float64
 30  total_pymnt_inv             39717 non-null  float64
 31  total_rec_prncp             39717 non-null  float64
 32  total_rec_int               39717 non-null  float64
 33  total_rec_late_fee          39717 non-null  float64
 34  recoveries                  39717 non-null  float64
 35  collection_recovery_fee     39717 non-null  float64
 36  last_pymnt_d                39646 non-null  object
 37  last_pymnt_amnt             39717 non-null  float64
 38  last_credit_pull_d          39715 non-null  object
 39  collections_12_mths_ex_med  39661 non-null  float64
 40  policy_code                 39717 non-null  int64
 41  acc_now_delinq              39717 non-null  int64
 42  chargeoff_within_12_mths    39661 non-null  float64
 43  delinq_amnt                 39717 non-null  int64
 44  pub_rec_bankruptcies        39020 non-null  float64
 45  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(13)
memory usage: 13.9+ MB

C:\Users\srimo\AppData\Local\Temp\ipykernel_23096\2556179909.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  lend_loan_df.revol_util.fillna('0',inplace=True)

In [228]:
print(lend_loan_df.emp_length.value_counts())
print(lend_loan_df.emp_length.isnull().sum())
lend_loan_df.emp_length.fillna('0',inplace=True)
print(lend_loan_df.emp_length.isnull().sum())

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64
1075
0

C:\Users\srimo\AppData\Local\Temp\ipykernel_23096\858303080.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  lend_loan_df.emp_length.fillna('0',inplace=True)

In [230]:

import re
lend_loan_df['emp_length']=lend_loan_df.emp_length.str.extract('(\d+)')
lend_loan_df['emp_length']=lend_loan_df.emp_length.astype('int64')
lend_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   loan_amnt                   39717 non-null  int64
 2   funded_amnt                 39717 non-null  int64
 3   funded_amnt_inv             39717 non-null  float64
 4   term                        39717 non-null  int64
 5   int_rate                    39717 non-null  float64
 6   installment                 39717 non-null  float64
 7   grade                       39717 non-null  object
 8   sub_grade                   39717 non-null  object
 9   emp_length                  39717 non-null  int64
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  purpose                     39717 non-null  object
 16  title                       39706 non-null  object
 17  addr_state                  39717 non-null  object
 18  dti                         39717 non-null  float64
 19  delinq_2yrs                 39717 non-null  int64
 20  earliest_cr_line            39717 non-null  object
 21  inq_last_6mths              39717 non-null  int64
 22  open_acc                    39717 non-null  int64
 23  pub_rec                     39717 non-null  int64
 24  revol_bal                   39717 non-null  int64
 25  revol_util                  39717 non-null  float64
 26  total_acc                   39717 non-null  int64
 27  out_prncp                   39717 non-null  float64
 28  out_prncp_inv               39717 non-null  float64
 29  total_pymnt                 39717 non-null  float64
 30  total_pymnt_inv             39717 non-null  float64
 31  total_rec_prncp             39717 non-null  float64
 32  total_rec_int               39717 non-null  float64
 33  total_rec_late_fee          39717 non-null  float64
 34  recoveries                  39717 non-null  float64
 35  collection_recovery_fee     39717 non-null  float64
 36  last_pymnt_d                39646 non-null  object
 37  last_pymnt_amnt             39717 non-null  float64
 38  last_credit_pull_d          39715 non-null  object
 39  collections_12_mths_ex_med  39661 non-null  float64
 40  policy_code                 39717 non-null  int64
 41  acc_now_delinq              39717 non-null  int64
 42  chargeoff_within_12_mths    39661 non-null  float64
 43  delinq_amnt                 39717 non-null  int64
 44  pub_rec_bankruptcies        39020 non-null  float64
 45  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(14), object(12)
memory usage: 13.9+ MB

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\srimo\AppData\Local\Temp\ipykernel_23096\573197509.py:2: SyntaxWarning: invalid escape sequence '\d'
  lend_loan_df['emp_length']=lend_loan_df.emp_length.str.extract('(\d+)')

In [236]:
lend_loan_df.issue_d = pd.to_datetime(lend_loan_df.issue_d, format='%b-%y')
lend_loan_df['issue_year']=lend_loan_df['issue_d'].dt.year
lend_loan_df['issue_month']=lend_loan_df['issue_d'].dt.month
lend_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 48 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   loan_amnt                   39717 non-null  int64
 2   funded_amnt                 39717 non-null  int64
 3   funded_amnt_inv             39717 non-null  float64
 4   term                        39717 non-null  int64
 5   int_rate                    39717 non-null  float64
 6   installment                 39717 non-null  float64
 7   grade                       39717 non-null  object
 8   sub_grade                   39717 non-null  object
 9   emp_length                  39717 non-null  int64
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  datetime64[ns]
 14  loan_status                 39717 non-null  object
 15  purpose                     39717 non-null  object
 16  title                       39706 non-null  object
 17  addr_state                  39717 non-null  object
 18  dti                         39717 non-null  float64
 19  delinq_2yrs                 39717 non-null  int64
 20  earliest_cr_line            39717 non-null  object
 21  inq_last_6mths              39717 non-null  int64
 22  open_acc                    39717 non-null  int64
 23  pub_rec                     39717 non-null  int64
 24  revol_bal                   39717 non-null  int64
 25  revol_util                  39717 non-null  float64
 26  total_acc                   39717 non-null  int64
 27  out_prncp                   39717 non-null  float64
 28  out_prncp_inv               39717 non-null  float64
 29  total_pymnt                 39717 non-null  float64
 30  total_pymnt_inv             39717 non-null  float64
 31  total_rec_prncp             39717 non-null  float64
 32  total_rec_int               39717 non-null  float64
 33  total_rec_late_fee          39717 non-null  float64
 34  recoveries                  39717 non-null  float64
 35  collection_recovery_fee     39717 non-null  float64
 36  last_pymnt_d                39646 non-null  object
 37  last_pymnt_amnt             39717 non-null  float64
 38  last_credit_pull_d          39715 non-null  object
 39  collections_12_mths_ex_med  39661 non-null  float64
 40  policy_code                 39717 non-null  int64
 41  acc_now_delinq              39717 non-null  int64
 42  chargeoff_within_12_mths    39661 non-null  float64
 43  delinq_amnt                 39717 non-null  int64
 44  pub_rec_bankruptcies        39020 non-null  float64
 45  tax_liens                   39678 non-null  float64
 46  issue_year                  39717 non-null  int32
 47  issue_month                 39717 non-null  int32
dtypes: datetime64[ns](1), float64(20), int32(2), int64(14), object(11)
memory usage: 14.2+ MB

In [238]:
lend_loan_df.issue_year.value_counts()

issue_year
2011    21656
2010    11532
2009     4716
2008     1562
2007      251
Name: count, dtype: int64